/* General */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


$inputBorderRadius: 0px;

$inputWidthFieldDefault: 12em;
$inputWidthDefault: 150rem;

